
/* PART A - DESIGN WITH CSS - FONTS AND COLORS */

.input {
    background-color: rgb(109,166,140);
}

input.input {
    border: 6px solid rgba(red,green,blue, alpha);
}

:root {
    --lightgreen: rgb(109, 120, 130)
}

*{
    font-family: sans-serif;
}

@font-face {
    font-family: myFirstFont; /* the font name that I decided */
    src: url(sansation_light.woff);
}
div {
    font-family: myFirstFont;
}

label {
    font-family: myfontP;
}


/* PART B - DESIGN WITH CSS - layout and grids */




